@import "tailwindcss";

@theme {
  --color-dark-surface: #121212;
  --color-dark-card: #1E1E1E;
}

@layer base {
  body {
    @apply bg-dark-surface text-white antialiased min-h-screen selection:bg-indigo-500/30;
  }
}
